@font-face {
    font-family: Satoshi;
    src: url(./fonts/Satoshi-Italic.ttf);
}
.logoinig{
    width: 200px; 
  
}

.oi{
    background-color: white;

}
.ui{
    margin: 30px;
    width: 150px; 
}
.ui img{
    padding: 10px;
    width: 100%;
}
.dd{
    display: inline;
}
.pop{
    color: black;
}
.y{
    background-color:  #F5F5F5;
    float: none;
    width: 100%; 

}
.tt{
    height: 70px;
    padding:0px;
    padding-top: 0px;
    margin-right: 40px;
}
#navigation{
    margin-right: 40px;
    font-family: Satoshi;

}
body{
    font-family: Satoshi;
}