@font-face {
    font-family: Satoshi;
    src: url(./css/fonts/Satoshi-Italic.ttf); 
}


body {
    background: #0F876E !important;
    background-color: #33CC99;
    border: 2px;
    border-color: #E1E1E1; 
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: Satoshi;
    padding: 19px, Auto, 19px, 15px;
    }


.card-body{
    margin-top:12px;
}


.card {
    border: 1px ;
    background:transparent;
    width: 455px;
    margin-top:auto;
    border-radius: 15px;
    box-shadow: rgba (0, 0, 0, 0.25);
}


.card-resetar {
    background:transparent;
    margin-top: 100px;
    padding: 18px;
    max-width: 25rem;
    max-height: 50rem;
    border: 2px;
    }



.card-header {
    
    font-family: Satoshi;
    margin-left:50px;
    margin-right:50px;
    font-size: 32px;
    color:black;
    font-weight: 600 !important;
    margin-bottom: -10px;
    margin-top:20px;
    height:auto;
    border-bottom: 0;
}


.input-group-prepend span{
    width: 40px;
    background-color: #33CC99;
    color: #fff;
    border:0 !important;
}


input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}


.resetar_btn{
    width: 300px;
    border: 2px;
    margin-top:20px;
    border-color: #E1E1E1;
    padding: 19px, Auto, 19px, 15px;
}


.resetar_btn:hover{
    color: #fff;
    background-color: #0F876E;
}

   
   a:hover {
    text-decoration: underline;
    color: #33CC99;
   }


.btn-outline-resetar {
color: #fff;
font-size: 18px;
margin-top:15px;
font-weight: bold;
background-color:  #0F876E;
width: -webkit-fill-available;
justify-content: center;
align-items:center;
font-family: Satoshi;
}


.btn-outline-resetar:hover{
    background: #33CC99;
    color:#0F876E;
}


.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #0F876E;
    margin-top:25px;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #0F876E;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 19px, Auto, 19px, 15px;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
    color: #E1E1E1;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 7px;
    border: 2px
}


.hy{
    color:#0F876E;
}


.gh{
    margin-top: 30px;
    font-size: 30px
}